.primary-btn {
    background-color: var(--dark-theme-primary-button-color);
}

.success-btn {
    background-color: var(--dark-theme-success-button-color);
}

.primary-icon-btn {
    color: var(--dark-theme-primary-button-color);
}

.remove-icon-btn {
    color: var(--dark-theme-remove-icon-color);
}

.success-icon-btn {
    color: var(--dark-theme-success-button-color);
}